/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: rgb(32, 42, 61);
    --text-color: white;
    --yellow: rgb(255, 211, 68);
    --violet: rgb(111, 0, 255);
    --footer: rgb(19, 25, 36);
    --scrolled: rgb(71, 91, 129);
}
body.light{
    --background-color: rgb(187, 211, 255);
    --text-color: rgb(0, 10, 32);
    --yellow: rgb(111, 0, 255);
    --violet: rgb(255, 138, 29);
    --footer: rgb(135, 177, 255);
    --scrolled: rgb(141, 181, 255);
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(111, 0, 255, 0.1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--yellow) rgba(111, 0, 255, 0.1);
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    font-family: "Noto Color Emoji", sans-serif;
    color: var(--text-color);
    font-style: normal;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
}
hr {
    border-color: var(--text-color);
    opacity: 50%;
}
.mode{
    position: relative;
    background: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--text-color);
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: bold;
}
.mode:hover{
    color: var(--yellow);
}
.navbar{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.navbar-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}
.navbar-brand img{
    position: relative;
    width: 6rem;
    height: 6rem;
    filter: saturate(0%);
    transition: all 0.3s ease-in-out;
}
.navbar-brand img:hover{
    filter: saturate(100%);
}
.navbar-toggler{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}
.toggler-icon{
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: all 0.3s ease;
}
.navbar-nav{
    display: flex;
    list-style: none;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 0.5rem 0;
    position: relative;
}
.nav-link:hover{
    color: var(--yellow);
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 0;
    height: 50%;
    background-color: var(--violet);
    transform: rotate(0deg);
    z-index: -1;
    transition: width 0.3s ease;
    transition: transform 0.5s ease;
}
.nav-link::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--yellow);
    transition: all 0.3s ease;
}
.nav-link:hover::after {
    width: 100%;
    transform: rotate(10deg);
}
.nav-link:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
        transition: all 0.3s ease;
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--scrolled);
        padding: 1rem;
        box-shadow: 0 10px 15px rgba(0,0,0, 0.1);
        transform: translateY(-150%);
        z-index: 999;
        transition: all 0.3s ease;
    }
    .navbar-collapse.show{
        transform: translateY(0);
    }
    .navbar-nav {
        flex-direction: column;
    }
    .nav-item{
        margin: 0.5rem 0;
    }
    .navbar-toggler.active .toggler-icon{
        background-color: var(--yellow);
    }
    .navbar-toggler.active .toggler-icon:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggler.active .toggler-icon:nth-child(2) {
        width: 0px;
    }
    .navbar-toggler.active .toggler-icon:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.navbar.scrolled{
    background-color: var(--scrolled);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.profile-header{
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}
.header-banner{
    max-width: 100%;
    width: 100vw;
}
.header-banner .header{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    cursor: default;
}
.profile-content{
    margin-top: -75px;
    margin-left: 20px;
    position: relative;
    z-index: 2;
}
.black{
    display: block;
    position: absolute;
    border-radius: 50%;
    opacity: 0%;
    height: 150px;
    width: 150px;
    z-index: 3;
    background-color: #000;
    cursor: pointer;
    transition: 0.3s ease;
}
.profile-img{
    width: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid var(--text-color);
    object-fit: cover;
    background-color: var(--text-color);
    box-shadow: 0 0px 10px rgba(0,0,0, 0.5),
                inset 0 0 10px rgba(0,0,0, 0.5);
    transition: 0.3s ease;
}
.black:hover {
    opacity: 30%;
}
.profile-info{
    padding: 1rem 1.5rem;
}
.profile-username {
    color: #657786;
    cursor: pointer;
}
.profile-username::after{
    content: '';
    display: block;
    position: relative;
    background-color: var(--text-color);
    bottom: 0;
    width: 0;
    height: 1px;
    transition: 0.3s ease;
}
.profile-username:hover{
    color: var(--text-color);
}
.profile-username:hover::after{
    width: 100px;
}
.profile-name::after{
    content: '';
    position: relative;
    bottom: 0;
    display: block;
    width: 0px;
    height: 2px;
    background-color: var(--text-color);
    transition: 0.3s ease;
}
.profile-name:hover::after{
    width: 230px;
}
.profile-bio {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

.profile-stats {
    display: flex;
    gap: 1rem;
    color: #657786;
}

.profile-stats .stat {
    cursor: pointer;
    transition: all 0.3s ease;
}
.stat:hover{
    color: var(--text-color);
}
.stat::after{
    content: '';
    position: relative;
    bottom: 0;
    display: block;
    width: 0px;
    height: 2px;
    background-color: var(--text-color);
    transition: 0.3s ease;
}
.stat:hover::after{
    width: 100%;
}
.profile-links .list{
    display: flex;
    text-decoration: none;
    font-size: 1.3rem;
    list-style: none;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.profile-links .list li a {
    color: var(--violet);
    color: var(--yellow);
    transition: 0.3s ease;
}
.profile-links .list li a:hover {
    color: var(--violet);
}

footer {
    background-color: var(--footer);
    bottom: 0;
    padding: 1.5rem;
    font-weight: light;
    text-align: center;
}

.about{
    position: relative;
    padding: 0.5rem;
    margin-left: 20px;
    margin-bottom: 2rem;
    max-width: 100%;
}
.about h1{
    position: relative;
    display: block;
    max-width: 100%;
    color: var(--yellow);
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 1rem;
}
.about h1::after{
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    width: 4rem;
    height: 1px;
    background-color: var(--yellow);
    transition: 0.3s ease;
}
.about h1:hover{
    color: var(--violet);
}
.about h1:hover::after{
    height: 1px;
    width: 10px;
}
.about-me{
    font-weight: 500;
    text-align: justify;
}